@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Lewis-Clark State College<br />
    500 8th Avenue, Lewiston, ID 83501<br />
    <abbr title="Phone">P:</abbr>
    208-792-5272 • 800-933-5272
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>