@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Lewis-Clark State College Points System</h1>
    <p class="lead">Portal of Lewis-Clark State College Points System.</p>
    <p><a href="http://lcsc.edu" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Lewis-Clark State College Points System gives the students the ability to collect and spend points
            based on their activities around the campus.
        </p>
        <p><a class="btn btn-default" href="/Home/About">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Campus Events</h2>
        <p>Check your favorite events around the campus.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>